<div class="doors">
      <a class="door" href="#owners"><b>تملك عقاراً</b><span>حصة من الإيراد، بلا دفعة مقدمة، وإشعار شهر.</span><em>كيف نبدأ ←</em></a>
      <a class="door" href="#compare" data-aud="investor"><b>تدرس الاستثمار</b><span>رابحة ومموّلة ذاتياً، على نظام خاص بنا.</span><em>الأرقام ←</em></a>
      <a class="door" href="#meet" data-aud="corporate"><b>تسكن موظفيك</b><span>وحدات بالشهر، ومسؤول حساب واحد.</span><em>اطلب التوافر ←</em></a>
      <a class="door" href="#meet" data-aud="platform"><b>تدير منصة حجز</b><span>__RESIDENCES__ وحدة بمعيار واحد، لكل منها تصريحها.</span><em>تحدّث إلينا ←</em></a>
      <a class="door" href="#meet" data-aud="supplier"><b>تبيع لنا أو تورّد</b><span>عقود سنوية على محفظة كاملة.</span><em>اعمل معنا ←</em></a>
    </div>