<div class="kv"><span>غرفة نوم واحدة</span><span class="pair"><span class="g num">__MKT_OCC__%</span><b>80.9%</b></span></div>
      <div class="kv"><span>غرفتا نوم</span><span class="pair"><span class="g num">__MKT_OCC__%</span><b>7__PER_PERSON__%</b></span></div>
      <div class="kv"><span>ثلاث غرف نوم</span><span class="pair"><span class="g num">__MKT_OCC__%</span><b>70.9%</b></span></div>
      <div class="kv"><span>أربع غرف فأكثر</span><span class="pair"><span class="g num">__MKT_OCC__%</span><b>78.0%</b></span></div>
      <div class="kv"><span>إجمالي المحفظة</span><span class="pair"><span class="g num">__MKT_OCC__%</span><b>__OCC__%</b></span></div>